.login_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.login_header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 35px;
}

.login_header h1 {
    font-weight: bold;
    color: black;
    font-size: 2.5em;
}

.login_header img {
    width: 300px;
}

.login_input {
    padding: 10px;
    outline: none;
    border: 3px solid rgb(202, 76, 76);
    border-radius: 10px;
    font-size: 1.5em;
    margin-bottom: 20px;
    max-width: 300px;
    width: 100%;
}

.login_button {
    width: 100%;
    max-width: 300px;
    color: white;
    cursor: pointer;
    background-color: rgb(232, 115, 115);
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;

}

.login_button:disabled {
    cursor: auto;
    background-color: rgb(76, 76, 76);
    color: rgb(255, 255, 255);
}