main {
    display: flex;
    flex-direction: column;
   /* background-image: url('../images/bg.jpg');*/
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    align-items: center;
    padding: 20px 20px 0 20px;
    color: rgb(0, 0, 0);
    justify-content: center;
    background-image: url(../images/bg.jpg);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: bold;
    background-color: orange;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 10px;
}

.times {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    width: 100%;
    margin: 10px;
    border-radius: 15px;
    font-size: 35px;
    font-weight: bold;
}

.main_cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    max-width: 750px;
    gap: 10px;
    margin: 0 auto;
    background-size: cover;
    border-radius: 15px;
    
}

.card{
    position: relative;
    width: 100%;
    border-radius: 10px;
    aspect-ratio: 4/4;
    background-color: black;
    cursor: pointer;
    
    /* part of the code used as the basis of https://www.w3schools.com/cssref/css3_pr_transform-style.php */
    transform-style: preserve-3d; 
    transition: all 500ms ease; 
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    border-style: solid;
    border-width: 5px;
    border-color: orange;
    border-radius: 10px;
   
}

.front { 
    transform: rotateY(180deg);
}

.back {
    background-image: url(../images/backCards.jpg);
    background-size: cover;
    backface-visibility: hidden;
}


/* part of the code used as the basis of https://stackoverflow.com/questions/45119321/rotate-an-image-180-degrees-in-every-click-css-animation */
.card-reveal {
    transform: rotateY(180deg);
}

.disabled {
    opacity: 0.7;
}


@media screen and (max-width: 460px) {

    .card {
        position: relative;
        width: 100%;
        border-radius: 10px;
        aspect-ratio: 3/4;
        background-color: black;
        cursor: pointer;
    }
        .main_cards {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            width: 90%;
            max-width: 750px;
            gap: 5px;
            margin: 0 auto;
            background-size: cover;
            border-radius: 15px;
            height: 80%;
        }
    }

    @media screen and (max-width: 760px) {

        .card {
            position: relative;
            width: 100%;
            border-radius: 10px;
            aspect-ratio: 2/4;
            background-color: black;
            cursor: pointer;
        }
            .main_cards {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                width: 90%;
                max-width: 750px;
                gap: 5px;
                margin: 0 auto;
                background-size: cover;
                border-radius: 15px;
                height: 100%;
            }
        }