.main_cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    max-width: 750px;
    gap: 10px;
    margin: 0 auto;
    background: url('../images/gameboard.jpg');
    background-size: cover;
    margin-top: 35px;
    padding: 65px;
    border-radius: 15px;
    
}

.card{
    position: relative;
    width: 100%;
    border-radius: 10px;
    aspect-ratio: 4/4;
    background-color: black;
    cursor: pointer;
    
    /* part of the code used as the basis of https://www.w3schools.com/cssref/css3_pr_transform-style.php */
    transform-style: preserve-3d; 
    transition: all 500ms ease;
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(255, 255, 255);
    border-radius: 10px;
   
}

.front { 
    transform: rotateY(180deg);
}

.back {
    background-image: url(../images/stantardcard.jpg);
    background-size: cover;
    backface-visibility: hidden;
}


/* part of the code used as the basis of https://stackoverflow.com/questions/45119321/rotate-an-image-180-degrees-in-every-click-css-animation */
.card-reveal {
    transform: rotateY(180deg);
}

.disabled {
    opacity: 0.7;
}
