main {
    display: flex;
    flex-direction: column;
    background-position: center;
    width: 100%;
    height: 100%;
    align-items: center;
    color: rgb(0, 0, 0);
    justify-content: center;
    background-color: lightslategray;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: bold;
    background-color: orange;
    width: 100%;
    border-radius: 15px;
    margin: 10px 35px 10px 35px;
}

.times {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    width: 100%;
    margin: 10px;
    border-radius: 15px;
    font-size: 35px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.times span {
    margin-left: 20px;

}


.times button{
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bolder;
    background-color: black;
    margin-right: 20px;   
 }
 
 .times a {
     text-decoration: none;
     color: white;
     font-size: 20px;
 }
.main_cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    max-width: 750px;
    gap: 10px;
    margin: 0 auto;
    background-size: cover;
    border-radius: 15px;  
}

.card{
    position: relative;
    width: 100%;
    border-radius: 10px;
    aspect-ratio: 4/4;
    background-color: black;
    cursor: pointer;
    
    /* part of the code used as the basis of https://www.w3schools.com/cssref/css3_pr_transform-style.php */
    transform-style: preserve-3d; 
    transition: all 500ms ease; 
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    border-style: solid;
    border-width: 5px;
    border-color: orange;
    border-radius: 10px; 
}

.front { 
    transform: rotateY(180deg);
}

.back {
    background-image: url(../images/backCards.jpg);
    background-size: cover;
    backface-visibility: hidden;
}

/* part of the code used as the basis of https://stackoverflow.com/questions/45119321/rotate-an-image-180-degrees-in-every-click-css-animation */
.card-reveal {
    transform: rotateY(180deg);
}

.disabled {
    opacity: 0.7;
}


@media screen and (max-width: 700px) {

.main_cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    max-width: 750px;
    height: 100%;
    gap: 10px;
    margin: 0 auto;
    background-size: cover;
    border-radius: 15px;  
}

main {
    display: flex;
    flex-direction: column;
    background-position: center;
    width: 100%;
    height: 100vh;
    align-items: center;
    color: rgb(0, 0, 0);
    justify-content: center;
    background-color: lightslategray;
}

.card{
    position: relative;
    width: 100%;
    border-radius: 10px;
    aspect-ratio: 3/4;
    background-color: black;
    cursor: pointer;
    
    /* part of the code used as the basis of https://www.w3schools.com/cssref/css3_pr_transform-style.php */
    transform-style: preserve-3d; 
    transition: all 500ms ease; 
}

.times {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    width: 100%;
    padding: 5px;
    margin: 10px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.times span {
    margin-left: 20px;

}

.times button{
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    font-weight: bolder;
    background-color: black;
    margin-right: 20px;   
 }
 
 .times a {
     text-decoration: none;
     color: white;
     font-size: 15px;
 }

 header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    background-color: orange;
    width: 100%;
    border-radius: 15px;
    margin: 10px 35px 10px 35px;
}

}











    




